# Dependencies
node_modules/
/.pnp
.pnp.js

# IDE
.idea/
.vscode/

# Testing
/coverage

# Production builds
dist/
/.next/
/out/

# Environment files
*.env
*.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
*.pem

# Python
__pycache__/
*.pyc
venv/
.venv/

# Archive files
**/*.zip
**/*.tar.gz

# Build caches
.cache/

# Yarn
.yarn/install-state.gz
frontend/node_modules/.cache/default-development/5.pack
